<template>
    <div class="container">
        <div class="row justify-content-center" v-if="loaded">
          <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn btn-success mx-2 mt-4" v-on:click="loadAddProduct">Nuevo Producto</button>
          </div>
            <div className="col-md-4 pt-4 pt-md-5" v-for="item in product" :key="item.id">
                <div className="card text-center">
                    <div className="card-header">
                        <div class="float-left col-9">
                          {{item.name}}
                        </div>  
                        <div class="float-right col-1">
                          <a v-on:click="deleteProduct(item.id)"><i class="fas fa-trash-alt"></i> </a>
                        </div>
                        <div class="float-right col-1">
                          <a v-on:click="loadEditProduct(item.id)"><i class="far fa-edit"></i></a>
                        </div>
                    </div>
                    <div className="card-body">
                        <h5 className="card-title">{{item.name}}</h5>
                        <div className="m-3">
                            <img className="img-fluid" :src="`${item.imageURL}`" />    
                        </div>
                        <p className="card-text">{{item.description}}</p>
                        <div>
                            <a class="btn btn-primary w-50 mt-2" v-on:click="loadProductDetails(item.id)">Ver Producto</a>
                        </div>
                    </div>
                    <div className="card-footer text-muted">
                        Size {{item.size}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
import axios from "../config/axios";

export default {
  name: "ListProduct",
  data: function () {
    return {
      product: [],
      email: "",
      balance: 0,
      loaded: false,
    };
  },
  methods: {
    getData: async function () {
        let token = localStorage.getItem("token_access");
      axios
        .get("product",  {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.product = result.data;
          this.loaded = true;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    deleteProduct: async function (id){
      this.$swal.fire({
        title: 'Estas seguro?',
        text: "No podras deshacer esta accion!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          let token = localStorage.getItem("token_access");
          axios
          .delete("product/" + id , {
            headers: { Authorization: `Bearer ${token}` },
          })
          .then((result) => {
            this.product = result.data;
            console.log(result)
            this.getData();
          })
          .catch((error) => {
            console.log(error)
          });

          Swal.fire(
            'Eliminado!',
            'EL producto ha sido eliminado.',
            'success'
          )
        }
      })
    },
    loadAddProduct: function () {
        this.$router.push({ name: "addproduct" });
    },
    loadEditProduct: function (id) {
        this.$router.push({ name: "editproduct", query: { productId: id} });
    },
    loadProductDetails: function (id) {
        this.$router.push({ name: "productdetail", query: { productId: id} });
    },
  },
  created: async function () {
    this.getData();
  },
};
</script>
 
<style>
.card-body, .gris-adidas {
    background-color: #eceef0;
}
</style> 